@{
    ViewBag.Title = "Expires";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<ul class="breadcrumb">
    <li><a asp-controller="home" asp-action="index">@SharedLocalizer["Home"]</a> <span class="divider">/</span></li>
    <li class="active">@SharedLocalizer["Product_Info"]</li>
</ul>

<h3>@SharedLocalizer["Product_Info"]</h3>

<hr class="soft">

<h2>@SharedLocalizer["Product_does_not_exist"] </h2>

