<div class="pull-right">
    
    <span class="btn btn-mini">@ViewBag.total.ToString("c")</span>

    <a asp-controller="cart" asp-action="index"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ @ViewBag.totalItem ] @SharedLocalizer["Itemes_in_your_cart"] </span> </a>
</div>